<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JT.UniStuttgart.StudentLibrary.Logic.DBManagement.DBManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JT.UniStuttgart.StudentLibrary.Logic.DBManagement.DBManager.Properties.Settings>
            <setting name="serverName" serializeAs="String">
                <value>10.20.100.135, 49170</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>%SE2021%</value>
            </setting>
            <setting name="trustedState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dataBase" serializeAs="String">
                <value>NewRemoting</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value>sa</value>
            </setting>
        </JT.UniStuttgart.StudentLibrary.Logic.DBManagement.DBManager.Properties.Settings>
    </userSettings>
</configuration>